<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About - Recommendation Chatbot</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>

  <nav>
    <img src="../static/logo1.png" alt="UFAR Logo" class="ufar-logo">
    <a href="index.html">Home</a>
    <a href="about.html">About</a>
    <a href="contact.html">Contact</a>
    <a id="loginLink" href="login.html">Login</a>
  </nav>

  <div class="container">
    <h1>About the Recommendation Chatbot</h1>
    <p>This webpage was created by a group of IMA 2024 undergraduate students at UFAR. It is designed to answer all your questions regarding regulations and related topics.</p>
    <p>Our goal is to provide quick and easy access to important information to help you navigate through the university’s rules and regulations.</p>
    <p>Powered by AI, this chatbot offers personalized responses to ensure you get the information you need efficiently and effectively.</p>
    <p>Feel free to explore and ask any questions!</p>
    
    <div class="about-emojis">
      <span>💬🤖🎓</span>
    </div>
  </div>

  <footer>
    &copy; 2024 Recommendation Chatbot. All Rights Reserved.
  </footer>

  <script src="../static/session.js"></script>
</body>
</html>
