<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recommendation Chatbot</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <nav>
    <img src="../static/logo1.png" alt="UFAR Logo" class="ufar-logo">
    <a href="index.html">Home</a>
    <a href="about.html">About</a>
    <a href="contact.html">Contact</a>
    <a id="loginLink" href="login.html">Login</a>
  </nav>

  <div class="container">
    <h1>Welcome, UFAR Student! 🎓</h1>
    <p>Ready to explore personalized recommendations just for you? 🚀</p>
    <p>Our Recommendation Chatbot is here to offer tailored suggestions based on your unique preferences. Whether you're looking for courses, events, or campus activities, we've got the perfect fit for you!</p>
    <button onclick="window.location.href='https://htmlpreview.github.io/?https://github.com/Project-S5-Recommendation-Chatbot/recChatbot/blob/frontend/Front/templates/chatbot.html'">
      Let's Chat and Explore!
    </button>
  </div>

  <footer>
    &copy; 2024 Recommendation Chatbot. All Rights Reserved.
  </footer>

  <script src="../static/session.js"></script>
</body>
</html>
